<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>List Manager</title>
	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
	<script src="https://cdn.rawgit.com/rezpe/Gateau.js/master/gateau.js"></script>
	<script>
		var LineCtrl = function($scope, $http) {

			//Attributes
			$scope.names = [];
			$scope.points = [];
			$scope.time = 0;
			$scope.lines = [];
			$scope.tracksx = [];
			$scope.tracksy = [];
			$scope.offsetX = 200;
			$scope.offsetY = 200;
			$scope.div = 4;
			$scope.reference = "none";

			//Linking the bones
			$scope.selected = 0;

			//Editing Bones
			$scope.selectedbone = 0;

			//Get the points
			data = {data}

			var items = [];

			//Create a circle for each object
			angular.forEach(data, function(val, key) {

				//Create a div per Point with the name
				$scope.names.push(val.name);

				//Create variable and append to Points
				var temp = {
					name: val.name,
					x: 0,
					y: 0
				};

				$scope.points.push(temp);

				//Create Tracks and append to Tracks
				var trackx = new Track(temp, "x");
				$scope.tracksx.push(trackx);
				var tracky = new Track(temp, "y");
				$scope.tracksy.push(tracky);

				angular.forEach(val.trajectory, function(value, key) {
					trackx.addKeyframe(1000 * value.time, value.x);
					tracky.addKeyframe(1000 * value.time, value.y);
				});

			});

			$scope.time = 2500;



			$scope.$watch('time', function(newValue, oldValue) {
				//Compute Reference
				refx = 0;
				refy = 0;
				if ($scope.reference != "none") {
					indexref = $scope.names.indexOf($scope.reference);
					refx = $scope.tracksx[indexref].evaluateVal(newValue) / $scope.div
					refy = $scope.tracksy[indexref].evaluateVal(newValue) / $scope.div
				}

				angular.forEach($scope.tracksx, function(val, key) {
					$scope.points[key].x = $scope.offsetX + val.evaluateVal(newValue) / $scope.div - refx;
				});

				angular.forEach($scope.tracksy, function(val, key) {
					$scope.points[key].y = $scope.offsetY + val.evaluateVal(newValue) / $scope.div - refy;
				});

			});

		}

		var app = angular.module('LineEditor', [])
			.controller("LineCtrl", LineCtrl);
	</script>
</head>

<body ng-app="LineEditor" ng-controller="LineCtrl">


	<div class="container" id="LIST" style="padding:60px">

		<label>Offset X</label>
		<input type="number" ng-model="offsetX">
		</input>

		<label>Offset Y</label>
		<input type="number" ng-model="offsetY">
		</input>

		<label>Divider</label>
		<input type="number" ng-model="div">
		</input>

		<label>Reference: {{reference}}</label>
		<select ng-model="reference">
			<option value="none">none</option>
			<option ng-repeat="option in names" value="{{option}}">{{option}}</option>
		</select>

		</br>

		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="col-md-12" height="500px">

			<g ng-repeat="point in points">
				<text ng-attr-x="{{point.x}}" ng-attr-y="{{point.y-10}}" style="font-family:Times,serif;font-size:10px;stroke: black;">
					{{point.name}}
				</text>
				<circle ng-attr-cx="{{point.x}}" ng-attr-cy="{{point.y}}" r="10" stroke="lightblue" fill="black" stroke-width="2" />
			</g>

		</svg>

		<input type="range" class="form-control input-lg" ng-model="time" name="points" min="1" max="5000" style="width:100%">
		<pre>Current time is: {{time/1000}} sec</pre>

		<pre>{{lines}}</pre>

	</div>

</body>

</html>
