<!DOCTYPE html>
<meta charset="utf-8">

<body>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <!-- I recommend you host this file on your own, since this will change without warning -->
    <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>

    <div id="container1" style="width: 800px; max-height: 450px;"></div>


    <script>
        //basic map config with custom fills, mercator projection
        var map = new Datamap({
            scope: 'world',
            element: document.getElementById('container1'),
            setProjection: function(element) {
                var projection = d3.geo.azimuthalEqualArea()
                    .center([20, 48.8])
                    .scale(1000)
                    .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
                var path = d3.geo.path()
                    .projection(projection);

                return {
                    path: path,
                    projection: projection
                };
            },
            height: 500,
            fills: {
                defaultFill: '#1f77b4',
                orange: '#ff7f0e'
            },
            data: {

            }
        })

        var cities = [{
                "name": "Munich",
                "latitude": 48.135125,
                "longitude": 11.581981,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Northampton",
                "latitude": 52.240477,
                "longitude": -0.902656,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Nice",
                "latitude": 43.710173,
                "longitude": 7.261953,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Nuremberg",
                "latitude": 49.45203,
                "longitude": 11.07675,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Istanbul",
                "latitude": 41.008238,
                "longitude": 28.978359,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Ankara",
                "latitude": 39.933364,
                "longitude": 32.859742,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Madrid",
                "latitude": 40.416775,
                "longitude": -3.70379,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Zaragoza",
                "latitude": 41.648823,
                "longitude": -0.889085,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "San Sebastian",
                "latitude": 43.318334,
                "longitude": -1.981231,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Prague",
                "latitude": 50.075538,
                "longitude": 14.4378,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Paris",
                "latitude": 48.856614,
                "longitude": 2.352222,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Lyon",
                "latitude": 45.764043,
                "longitude": 4.835659,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Southampton",
                "latitude": 50.9097,
                "longitude": -1.404351,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Cambridge",
                "latitude": 42.373616,
                "longitude": -71.109733,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Oxford",
                "latitude": 51.752021,
                "longitude": -1.257726,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Bath",
                "latitude": 51.375801,
                "longitude": -2.359904,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Manchester",
                "latitude": 42.99564,
                "longitude": -71.454789,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Fribourg",
                "latitude": 46.806477,
                "longitude": 7.161972,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Istanbul",
                "latitude": 41.008238,
                "longitude": 28.978359,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Ankara",
                "latitude": 39.933364,
                "longitude": 32.859742,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Wroclaw",
                "latitude": 51.107885,
                "longitude": 17.038538,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Gdansk",
                "latitude": 54.352025,
                "longitude": 18.646638,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Frankfurt",
                "latitude": 50.110922,
                "longitude": 8.682127,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Koln",
                "latitude": 50.937531,
                "longitude": 6.960279,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Istanbul",
                "latitude": 41.008238,
                "longitude": 28.978359,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Prague",
                "latitude": 50.075538,
                "longitude": 14.4378,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Barcelona",
                "latitude": 41.385064,
                "longitude": 2.173403,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Berlin",
                "latitude": 52.520007,
                "longitude": 13.404954,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Stansted",
                "latitude": 51.905225,
                "longitude": 0.19691,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Dusseldorf",
                "latitude": 51.227741,
                "longitude": 6.773456,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Germany",
                "latitude": 51.165691,
                "longitude": 10.451526,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Lyon",
                "latitude": 45.764043,
                "longitude": 4.835659,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "London",
                "latitude": 51.507351,
                "longitude": -0.127758,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Milan",
                "latitude": 45.465422,
                "longitude": 9.185924,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Vienna",
                "latitude": 48.208174,
                "longitude": 16.373819,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Berlin",
                "latitude": 52.520007,
                "longitude": 13.404954,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Vienna",
                "latitude": 48.208174,
                "longitude": 16.373819,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Istanbul",
                "latitude": 41.008238,
                "longitude": 28.978359,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Ankara",
                "latitude": 39.933364,
                "longitude": 32.859742,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Dusseldorf",
                "latitude": 51.227741,
                "longitude": 6.773456,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Copenhagen",
                "latitude": 55.676097,
                "longitude": 12.568337,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Nordborg",
                "latitude": 55.055721,
                "longitude": 9.751009,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Barcelona",
                "latitude": 41.385064,
                "longitude": 2.173403,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Lausanne",
                "latitude": 46.519654,
                "longitude": 6.632273,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "London",
                "latitude": 51.507351,
                "longitude": -0.127758,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Copenhagen",
                "latitude": 55.676097,
                "longitude": 12.568337,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Hannover",
                "latitude": 52.375892,
                "longitude": 9.73201,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Tel-Aviv",
                "latitude": 32.0853,
                "longitude": 34.781768,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Eindhoven",
                "latitude": 51.441642,
                "longitude": 5.469722,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Lausanne",
                "latitude": 46.519654,
                "longitude": 6.632273,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Copenhagen",
                "latitude": 55.676097,
                "longitude": 12.568337,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Oslo",
                "latitude": 59.913869,
                "longitude": 10.752245,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Stockholm",
                "latitude": 59.329323,
                "longitude": 18.068581,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Rennes",
                "latitude": 48.117266,
                "longitude": -1.677793,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "London",
                "latitude": 51.507351,
                "longitude": -0.127758,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Oxford",
                "latitude": 51.752021,
                "longitude": -1.257726,
                "fillKey": "orange",
                "radius": 5
            }, {
                "name": "Birmingham",
                "latitude": 33.520661,
                "longitude": -86.80249,
                "fillKey": "orange",
                "radius": 5
            }] //bubbles, custom popup on hover template
        map.bubbles(cities, {
            popupTemplate: function(geo, data) {
                return "<div class='hoverinfo'>It is " + data.name + "</div>";
            }
        });
    </script>
</body>
